body{
  
  background-image: url(../assets/forest.jpg);
}
h1
{
  text-align:center;
  padding:6px;
  color:brown;
}

.main
{
  height:525px;
  width:525px;
  background-image: url(../assets/board.jpg);
  background-size:525px 525px;
  background-repeat:no-repeat;
  float:left;
  border:3px solid  #A52A2A;
}
.row1 {
	display: flex;
	width: fit-content;
}
.column {
	background-color: transparent;
	text-align: center;
	padding: 10px;
	font-size: 20px;
	width: 32.5px;
	height: 33px;
	font-weight: bold;
}
.container {
	margin-left:20px;
	
}
.dice {
	text-align: center;
	display: inline-block;
	margin: 10px;
}
.butn {
	background-color: transparent;
	border: none;
}
#image{
	width:100%;
}
#image2{
	width:68%;
}
